/* Main Stuff */

body {
    font-family: sans-serif;
}
#Background {
    background-image:   url("media/bg.png");
    background-repeat:  repeat;
    margin: 0;
}

div {
    width: fit-content;
    height: fit-content;
}
a {
    text-decoration: none;
    color: white;
}
audio {
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
}
.Taskbar {
    position: fixed;
    background-color: rgb(56, 21, 102);
    top: 0px;
    width: 100%;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    overflow: auto;
    z-index: 1000;
}

#Headline {
    float: left;
    color: white;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
    margin: 0;
}

.menu {
    float: right;
    color: white;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    margin: 0;
    transition: background-color 0.5s ease-in-out 0s;
}
#current {
    background-color: rgba(131, 31, 117, 0.507);
    color: white;
}
.menu:hover {
    background-color: rgba(250, 202, 244, 0.507);
    color: black;
    
}
#Back2{
    float: none;
    width: 100%;
    height: 0px;
}
#Backimg{
    width: 100%;
    border-radius: 0px 0px 150px 150px;
    z-index: -4;
    margin-top: 20px;
}
#Back1 {
    margin: auto;
    width: 90%;
    height: fit-content;
}
.centre {
    margin: auto;
    float: none;
    width: 600px;
}
#Title {
    font-size: 1000%;
    margin-top: 200px;
    color: white;
    text-shadow: 2px 2px 14px #000000;
    text-align: center;
    width: 100%;
    margin-bottom: 190px;
}

/* Home Stuff */
.idea {
    font-size: 300%;
    margin-top: 200px;
    color: lightgray;
    text-align: center;
    width: 100%;
}

/* Kontakt Stuff */
.KBox {
    width: 100%;
    height: fit-content;
}
.KBox h1 {
    border-bottom: 2px solid lightgray;
}
.GBox {
    margin-bottom: -5px;
    background-color: lightgray;
    width: 50%;
    height: fit-content;
}
.GBox p {
    color: white;
    padding: 7px;
    padding-left: 10px;
}
#Nachricht {
    width: 100%;
}
#Nachricht p{
    padding-bottom: 40px;

}
#Send {
    margin-top: 40px;
}


/* GRID Stuff */

.STBox {
    width: 100%;
    height: fit-content;
}
.STBox h1 {
    border-bottom: 4px solid lightgray;
}
.higher {
    margin-bottom: 20%;
}

.gridb {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: fit-content;
    grid-gap: 5% 2%;
    margin-bottom: 10%;
}
.gridp {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: fit-content;
    grid-gap: 5% 2%;
    margin-bottom: 10%;
}

.gridi {
    width: fit-content;
    height: fit-content;
    margin: 1%;
    text-align: center;
     
}
.gridt {
    width: fit-content;
    height: fit-content;
    margin: 1%;
    text-align: center;
     
}
.gridt div{
    width: 100%;
     
}
.gridt p{
    text-align: left;
     
}
.gridt h1{
    border-bottom: 2px solid lightskyblue;
     
}
.gridiv {
    width: fit-content;
    height: fit-content;
    margin: 1%;
     
}
.gridia {
    width: fit-content;
    height: fit-content;
    margin: 1%;
    text-align: center;
     
}
.gridi img {
    position: relative;
    width: 100%;
    margin: 0px;
    border-radius: 30px;
    transform: scale(1);
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    transition: all 0.5s ease-in-out 0s;
}
.gridiv video {
    width: 100%;
    margin: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    z-index: -100;
}
.gridia audio {
    margin: 0px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);

}
/* Portfolio Stuff */

#item1 {
    grid-row: 1 / 3;
}
#item2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.item3 {
    grid-row: 2 / 3;
}
#item4 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
#item5 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

/* About Me Stuff */

#me {
    float: left;
    width: 30%;
    border-radius: 30px;
    transform: scale(1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 143, 143, 0.493);
    transition: all 0.5s ease-in-out 0s;
    margin-right: 20px;
}

table{
    font-size: 30px;
    margin-bottom: 30%;

}
td {
    border-bottom: 1px solid lightgray;
}
th {
    text-align: left;
    padding-right: 15px;
    border-bottom: 1px solid lightgray;
}
#uk {
    color: lightskyblue;
}

#MB {
    margin-bottom: 150px;
}

#MB2 {
    margin-bottom: 380px;
}
#TA {
    color: lightskyblue;
}
#steam {
    color: lightskyblue;
}
#imgSteam {
    width: 100%;   
}
#imgDisc {
    width: 100%;   
}
/* Hover Stuff */

.gridi img:hover {
    position: relative;
    z-index: 100;
    transform: scale(1.5);
}

#me:hover {
    transform: scale(1.5);
    z-index: 100;
}




/* Media Querries */

@media screen and (min-width: 1024px) {
    .centre {
        width: 800px;
    }
    #Backimg{
        border-radius: 0px 0px 150px 150px;
        margin-top: -30px;
    }
    #Back1 {
        width: 85%;
    }

}
@media screen and (min-width: 1324px) {
    .centre {
        width: 800px;
    }
    #Backimg{
        border-radius: 0px 0px 150px 150px;
        margin-top: -170px;
    }
    #Back1 {
        width: 80%;
    }

}

@media screen and (min-width: 1624px) {
    .centre {
        width: 1000px;
    }
    #Backimg{
        border-radius: 0px 0px 250px 250px;
        margin-top: -200px;
    }
    #Back1 {
        width: 60%;
    }
}

@media screen and (min-width: 2224px) {
    .centre {
        width: 1000px;
    }
    #Backimg{
        border-radius: 0px 0px 250px 250px;
        margin-top: -350px;
    }
    #Back1 {
        width: 60%;
    }
}

